<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form name="punchout_form" method="post" action="https://openapi.alipaydev.com/gateway.do?charset=utf-8&method=alipay.trade.page.pay&sign=A7O0Cu8T9vdNjSiGimi%2FD9jp2IuR1VwF8dBhg5FqxWvTX3VDXFsj7bHDvX4tuP1D3MdxlbNOXFeGT4U%2FImLJvWPoh4HeS3hyeBeiKaq4erwYZlxRhbDW2bNwulT7BDnRm7TaeyOn6RkwSQdXmZcu%2FKsrwKB2%2FSE%2BRIw09p99HE%2FVx1s7P7bdv08OZ%2BLFEhxSGrivRqbNRtKkHv%2F1t7bs2wPKTLBcSPO1nvO%2B2wcq6sLbu%2BFKP3mXeXqq4Oe2Fiyb4JM6cypSdn3oqXKbP42BMNJJUafiuvXG0%2FHgFqAUZGsjwuJZ7gFnlUfW2na2pStXa5JafrkH2ji%2Bztf1WdjYaw%3D%3D&return_url=http%3A%2F%2Faifeifei.utools.club%2Forder%2Fpay%2Fsuccess&notify_url=http%3A%2F%2Faifeifei.utools.club%2Forder%2Fpay%2Fsuccess&version=1.0&app_id=2016101600697690&sign_type=RSA2&timestamp=2020-10-21+20%3A28%3A04&alipay_sdk=alipay-sdk-java-4.8.73.ALL&format=json">
    <input type="hidden" name="biz_content" value="{&quot;out_trade_no&quot;:&quot;202010212027551891318891764718776321&quot;,&quot;total_amount&quot;:&quot;137980&quot;,&quot;subject&quot;:&quot;商城支付平台&quot;,&quot;body&quot;:&quot;谷粒商城平台&quot;,&quot;product_code&quot;:&quot;FAST_INSTANT_TRADE_PAY&quot;}">
    <input type="submit" value="立即支付" style="display:none" >
</form>
<script>document.forms[0].submit();</script>
</body>
</html>